/.idea
/Algorithms
/Automate the Boring Stuff with Python.pdf
/AWS Python
/cars.pdf
/car_sales.json
/Computer_Man.png
/Coursera
/Linkedin Python skill test.PNG
/listing.py
/OurDB.db
/Pandas
/Practice
/sample.txt
/sample_log1.txt
/sample_log2.txt
/sample_log3.txt
/scripts
/sql-insert.py
/sql-pratice.py
/sql-update.py
/syslog.log
/__pycache__